<% for article in @articles %>
	<div class="news_item">
		<div class="center_part_img"><%= image_tag article.attachments.first.url(:raster) %></div>
		<div class="center_part_text_container">
			<a href="<%= news_article_path(article.route_params) %>"><h4 class="center_part_text_header"><%= h(article.name) %></h4></a>
			<p class="no_margin">
				<%= article.summary %>
			</p>
		</div>
	<% unless @portlet.more_link.blank? -%>
	  <div class="news-item-browser">
	    <%= link_to "MORE", @portlet.more_link %>
	  </div>
	<% end %>
	</div>
<% end %>





